# This file contains settings for shell scripts
# Rename this file to batterymon_extras_config.rc and edit it

USE_LOGS2XLSX_WRAPPER='false' # the command batterymon.sh logs2xlsx runs logs2xlsx-wrapper.py
